<!DOCTYPE html>
<html>

<head>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
</head>

<body>
	<header>
		<nav>
			<div class="nav-wrapper">
				<a href="{{ url_for('get_tasks') }}" class="brand-logo">Task Manager</a>
				<a href="{{ url_for('get_tasks') }}" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
				<ul class="right hide-on-med-and-down">
					<li><a href="{{ url_for('add_task') }}"><i class="material-icons">playlist_add</i></a></li>
					<li><a href="{{ url_for('get_tasks') }}"><i class="material-icons">format_list_bulleted</i></a></li>
					<li><a href="{{ url_for('new_category') }}"><i class="material-icons">add</i></a></li>
					<li><a href="{{ url_for('get_categories') }}"><i class="material-icons">folder</i></a></li>
				</ul>
				<ul class="side-nav" id="mobile-demo">
					<li><a href="{{ url_for('add_task') }}">Add task</a></li>
					<li><a href="{{ url_for('get_tasks') }}">Tasks</a></li>
					<li><a href="{{ url_for('new_category') }}">Add category</a></li>
					<li><a href="{{ url_for('get_categories') }}">Categories</a></li>
				</ul>
			</div>
		</nav>

	</header>
	<div class="container">
		{% block content %}
		{% endblock %}
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
            $('.collapsible').collapsible();
            $('select').material_select();
            $('.button-collapse').sideNav();
        });

        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year,
            today: 'Today',
            clear: 'Clear',
            close: 'Ok',
            closeOnSelect: false // Close upon selecting a date,
        });

        document.getElementById("matfix").addEventListener("click", function(e) {
	    e.stopPropagation();
        });
        
        
	</script>
</body>

</html>